@model HomeViewModel

<div class="row mt-1 mb-5">
    <h2>@Model.modelName</h2>
</div>

<div class="row mb-5">
    @{
        foreach (Item item in Model.favouriteItems)
        {
            @Html.Partial("AllItems", item);
        }
    }
</div>