<div class="row mt-1 mb-5">
    <div class="col-lg-6">
        <h2>Панель управления</h2>
    </div>
    <div class="col-lg-6">
        <p class="row float-right">Пользователь:&nbsp<b>@ViewBag.user</b></p>
    </div>
</div>
<div class="row mb-1">
    <a asp-controller="CategoryManage" asp-action="List">Категории</a>
</div>
<div class="row mb-1">
    <a asp-controller="ItemManage" asp-action="List">Позиции</a>
</div>
<div class="row mb-5">
    <a asp-controller="ImgManage" asp-action="List">Изображения</a>
</div>